<!DOCTYPE html>
<html>
  <head>
    <title>Blogtwitter</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if user_signed_in? %>
    <% end %>
    <div class="container">
      <% if user_signed_in? %>
        <div class="pull-right">
	  Welcome <%= current_user.email %>
	  <%= link_to "signout", destroy_user_session_path, :method => :delete%>
	</div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
